{% extends 'base.html' %}

{% block content %}

<a id="id_add_exercise" href="{% url 'exercises:create' %}">Add exercise</a>

{% for exercise in exercises %}
        
    <p id="id_exercise_{{ exercise.id }}">
        {{ exercise.text_html|safe }}
        | <a id="id_detail_{{ exercise.id }}" href="{% url 'exercises:detail' exercise.id %}">Detail</a>
        | <a id="id_edit_{{ exercise.id }}" href="{% url 'exercises:update' exercise.id %}">Edit</a>
    </p>

{% endfor %}

{% endblock content %}