{% extends 'base.html' %}
{% load crispy_forms_tags i18n static %}
{% load render_bundle from webpack_loader %}


{% block content %}
<div id="app">

    {% trans 'exercise' %}: #{{ exercise.id }}

    <div class="row">

        <div class="col-12 col-md-6">
            {% crispy form %}
        </div>

        <div class="col-12 col-md-6">
            <legend>{% trans 'preview' %}</legend>
            <div class="card editor-preview">
                <div class="card-block">
                    <div class="card-text" v-html="compiledMarkdown"></div>
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock content %}


{% block scripts %}
    <script>
        var exercise_text = `{{ exercise.text|escapejs }}`;
        var exercise_is_original = {% if exercise.is_original %}true{% else %}false{% endif %};
    </script>

    {{ block.super }}

    <!-- VueJS, markdown-it, KaTeX, Custom JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js" integrity="sha256-+J5cSgDOPu6OT8mt+r5f7/cmvICoEmNdK2ZGz8ql8wc=" crossorigin="anonymous"></script>
    {% render_bundle 'main' %}

{% endblock scripts %}
