{% extends 'base.html' %}
{% load static %}


{% block content %}
<div id="app">

    <a href="{% url 'index' %}" id="back-id-back" class="btn btn-primary" role="button">Back</a>
    <a href="{% url 'exercises:update' exercise.id %}" id="id_edit_{{ exercise.id }}" class="btn btn-outline-primary btn-sm" role="button">Bearbeiten</a>
    <!-- <a href="{% url 'exercises:update' exercise.id %}" id="id_delete_{{ exercise.id }}" class="btn btn-outline-danger btn-sm" role="button">Delete</a> -->
    <a href="{% url 'exercises:pdf' exercise.id %}" class="btn btn-outline-info btn-sm" role="button">PDF</a>

    <div class="card" id="id_text">
        <div class="card-block">
            <div class="card-text">
            {{ exercise.text_html|safe }}
            </div>
        </div>
        <div class="card-footer text-muted">
          Aufgabe von {{ exercise.author.name }} / <a href="{{ exercise.license_url }}"> {{ exercise.get_license_display }}</a>
        </div>
    </div>

</div>
{% endblock content %}


{% block scripts %}
    <script>
        var exercise_text = `{{ exercise.text }}`;
    </script>

    {{ block.super }}

    <!-- VueJS, markdown-it, KaTeX, Custom JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js" integrity="sha256-+J5cSgDOPu6OT8mt+r5f7/cmvICoEmNdK2ZGz8ql8wc=" crossorigin="anonymous"></script>
    <script src="{% static 'dist/bundle.js' %}"></script>

{% endblock scripts %}