{% extends 'base.html' %}

{% block content %}

{% for exercise in exercises %}
        
<div class="card" id="id_exercise_{{ exercise.id }}">
  <div class="card-block">
    <div class="card-text">
      {{ exercise.text_html|safe }}
    </div>
    <a href="{% url 'exercises:detail' exercise.id %}" id="id_detail_{{ exercise.id }}" class="btn btn-primary btn-sm" role="button">Ansehen</a>
    <a href="{% url 'exercises:update' exercise.id %}" id="id_edit_{{ exercise.id }}" class="btn btn-primary btn-sm" role="button">Bearbeiten</a>
  </div>
</div>

{% endfor %}

{% endblock content %}