{% extends 'base.html' %}
{% load markdown_filters %}

{% block content %}

{% for example in examples %}

<hr>

<h3>{{ example.title }}</h3>
<p>
{{ example.description|markdownify|safe }}
<p>


<div class="row">
    <div class="col-12 col-md-6">
        <div class="editor-input textarea form-control">
            {{ example.exercise.text|linebreaksbr }}
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="editor-preview">
            {{ example.exercise.text_html|safe }}
        </div>
    </div>
</div>

<a href="{% url 'exercises:create' %}?template={{ example.exercise.id }}" class="btn btn-primary btn-sm" role="button">Als Vorlage verwenden</a>

{% endfor %}

{% endblock content %}