# Base
django==1.11.4
psycopg2==2.7.3
requests==2.18.3
urllib3==1.22
django-crispy-forms==1.6.1
django-extensions==1.8.1

# Markdown & LaTeX
Naked==0.1.31

# Testing
factory_boy==2.9.2
Faker==0.7.18
mock==2.0.0
pytest==3.2.1
pytest-django==3.1.2
pytest-mock==1.6.2
pytest-stepwise==0.4
pytest-xdist==1.19.1
selenium==3.5.0

# Linting
flake8==3.4.1
flake8-docstrings==1.1.0
flake8-tidy-imports==1.1.0
mypy==0.521
pycodestyle==2.3.1
pytest-flake8==0.8.1

# Coverage
codecov==2.0.9
coverage==4.4.1
pytest-cov==2.5.1