/* Basics */
html {
    position: relative;
    min-height: 100%;
}
body {
    padding-top: 5rem;
    /* sticky footer */
    margin-bottom: 80px;
}
.container {
    max-width: 1600px;
}
.container-small {
    max-width: 600px;
}
.container.content {
    /* add space between main content and footer top-border */
    padding-bottom: 30px;
}

/* Navbar */
.dropdown-item-bordered {
    margin-top: 1px;
    border-top: 1px solid #ccc;
}

/* Exercise cards */
.card {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.card-block {
    padding: 1rem;
}

/* HTML previews */
table {
    width: 100%;
}
td {
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    padding: 3px;
}

/* Howto page */
.editor-input {
    background-color: #fafafa;
    font-family: 'Monaco', courier, monospace;
    padding: 20px;
}
.editor-preview {
    border: 1pt solid;
    padding: 20px;
    margin-bottom: 20px;
}
@media (max-width: 768px) { 
    .editor-preview {
        /* Add vertical space between columns on small screens */
        margin-top: 20px;
    }
}

/* Sticky Footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 80px;
    line-height: 80px; /* Vertically center the text there */
}
.footer-content {
    border-top: solid 1px #ddd;
    font-size: 90%;
}
.footer-right a,
.footer-right span {
    margin-left: 30px;
}