/* Basics */
html {
    position: relative;
    min-height: 100%;
}
body {
    padding-top: 5rem;
    margin-bottom: 80px;
}
.container {
    max-width: 1600px;
}

/* Exercise cards */
.card {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.card-block {
    padding: 1rem;
}

/* HTML previews */
table {
    width: 100%;
}
td {
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    padding: 3px;
}

/* Sticky Footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 80px;
    line-height: 80px; /* Vertically center the text there */
}
.footer-content {
    border-top: solid 1px #ddd;
    font-size: 90%;
}
.footer-right a,
.footer-right span {
    margin-left: 30px;
}