{% load static %}

<footer class="footer">
    <div class="container">
        <div class="footer-content d-flex justify-content-between">
            <span class="text-muted footer-left">
                Unkenmathe von 
                <a href="https://flowfx.de/">FlowFX</a>
            </span>
            <span>
                <a href="https://www.unkenmathe.de/">
                    <img src="{% static 'images/unkenmathe-logo-grey.svg' %}" width="30" height="30" alt="">
                </a>
            </span>
            <span class="text-muted footer-right">
                <a href="#">Blog</a>
                <a href="https://github.com/FlowFX/unkenmathe.de/">Code auf GitHub</a>
            </span>
        </div>
    </div>
</footer>